*{
    margin: 0px;
    padding: 0px;
    transition: .4s;
}
body{
background: linear-gradient(90deg, #cacaca 30%, #76ABAE 70%);
    margin: 0px;
    padding: 0px;
}
table, th, td {
    border:1px solid black;
}
td,th{
    font-size: large;
    color: rgb(0, 0, 0);
    width: 250px;
}

@media screen and (max-width: 400px) {
    .mobile {
        display: none;
    }
  }